<nav class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
    <ul class="nav navbar-nav">
      
                        <li class="nav-item"><a class="scrollto" href="#mission">Mission</a></li>
                        <li class="nav-item"><a class="scrollto" href="#services">Services</a></li>
                        <li class="nav-item"><a class="scrollto" href="#story">Team</a></li>
                        <li class="nav-item"><a class="scrollto" href="#pricing">Pricing</a></li>

    </ul>
  </div><!-- /.navbar-collapse -->
</nav>



       
<div class="center">
          <%= image_tag('teloslaxlogo.png', size: "1140x550") %>
</div>
 

   

      <section id="promo" class="promo section offset-header has-pattern">
        <div class="container">
            <div class="row">
                <div class="overview col-md-7 col-sm-12 col-xs-12">
                    <h2 class="title">Develop the tools to be a sucessful Lacrosse Student-Athlete</h2>
                    <ul class="summary">
                        <li>Personalized Instruction</li>
                        <li>Academic Support</li>
                        <li>Game tape review </li>
                        <li>And much more</li>
                    </ul>
                </div>
      <div class="row">
                <div class="span5">
                    <h2>
                    
                    Existing Customers<br>
                    <%= link_to "Log in", new_user_session_path, class: "btn btn-default btn-lg" %><br><br><br>
                    New Customers<br>
                    <%= link_to "Sign up", '#pricing', class: "btn btn-default btn-lg" %></h1>
                    <!-- <span style="font-size: .7em;">by Selecting Your Building</span><br></h1>
                    <h2><input id="e9"></input><br>
                    <div class="spacer span3"></div><br>
                    <div class="spacer span3"></div>
                    <button type="submit" class="button jsLink">Register</button> -->
                    </h2>
                </div>   
            </div><!--//row-->
        </div><!--//container-->
    </section><!--//promo-->
                

      <section class="module parallax parallax-2">
        <div class="container">
                    <div class="row">
        <div class="content col-md-12 col-sm-6 col-xs-12 text-center">
          <h1>Mission</h1>
        </div>
      </div>
    </div>
      </section>


<section id="mission" class="mission section">
    <div class="container-center">
      <div class="row">
        <div class="content col-md-12 col-sm-6 col-xs-12 text-center">
          <h1> Full Circle Development </h1>
          <p>Achieve success both on the field and in the classroom.<br>
            We will provide you with the resources. All you have to do is follow along. </p>
        </div>
    </div>
 </div>
</section>

      <section class="module parallax parallax-3">
        <div class="container">
          <div class="row">
        <div class="content col-md-12 col-sm-6 col-xs-12 text-center">
          <h1>Services</h1>
        </div>
      </div>
    </div>
      </section>

<section id="services" class="services section">
  <div class="container-center">
    <div class="row">
      <h2>Our Services</h2>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="item">
          <div class="content">
            <h3 class="title">Video Lessons</h3>
            <p>Monthly video lessons. 
                Tips and tricks from the pros. 
                Drills to improve your game. 
                Explanation of when and what to do on the field.</p>  
          </div><!--//content-->               
        </div><!--//item-->
    </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="item">
          <div class="content">
            <h3 class="title">Recruiting Advice</h3>
            <p>Guidance on how to approach schools. 
                Knowledge on what coaches are looking for. </br>
                Connections to current and past players.</p>   
          </div><!--//content-->               
        </div><!--//item-->
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="item">
          <div class="content">
            <h3 class="title">Academic Support</h3>
            <p>Online resources to help you achieve better grades in the classroom and on standardized tests </p>   
          </div><!--//content-->               
        </div><!--//item-->
    </div>
    </div><!--//row-->
           
    <div class="row">

      <div class="col-md-6 col-sm-6 col-xs-12 text-center">
        <div class="item">
        <div class="content">
            <h3 class="title">Private Lessons</h3>
            <p>Individual &amp; Group lessons with instructors </br>
            </p>  
        </div><!--//content-->               
      </div><!--//item-->
  </div>
    <div class="col-md-6 col-sm-6 col-xs-12 text-center">
        <div class="item">
        <div class="content">
          <h3 class="title">Performance Review</h3>
          <p>Film review of games &amp; tournaments </br>
           </p>   
        </div><!--//content-->               
      </div><!--//item-->
  </div>
    </div><!--//row-->
  </div><!--//container-->
</section><!--//features-->

      <section class="module parallax parallax-4">
        <div class="container">
                    <div class="row">
        <div class="content col-md-12 col-sm-6 col-xs-12 text-center">
          <h1>Team</h1>
        </div>
      </div>
        </div>
      </section>

    <section id="story" class="story section">
        <div class="container-center">
            <h2> </h2>
            <div class="row">
                <div class="overview col-md-6 col-sm-12 col-xs-12">
                    <h2 class="title">Ryan Young</h2>
                    <ul class="summary">
                        <li>Maryland 2011 </li>
                        <li>2011-2014 MLL Player</li>
                        <li>2013 MLL All Star</li>
                        <li>3X Division 1 All-American</li>
                        <li>2X All-ACC selection </li>
                        <li>Member of the Gold Medal 2008 U.S. Under-19 National Team</li>
                        <li>2007 US Lacrosse &amp; Under Armour All-American</li>
                        <li>From Manhasset, Long Island </li>
                    </ul>
 
                </div><!--//overview-->
                <div class="overview col-md-6 col-sm-12 col-xs-12">
                    <h2 class="title">Dean Gibbons</h2>
                    <ul class="summary">
                        <li>Harvard 2011</li>
                        <li>2014 MLL Player</li>
                        <li>2X Division 1 All-American</li>
                        <li>Member of the Gold Medal 2008 U.S. Under-19 National Team</li>
                        <li>2007 US Lacrosse &amp; Under Armour All-American</li>
                        <li>2007 Nassau County Player of the Year</li>
                        <li>Long Island scoring record for a season with 101 goals</li>
                        <li>From Garden City, Long Island </li>
                    </ul>
                </div><!--//overview-->
            </div><!--//row-->
        </div><!--//container-->
    </section><!--//promo-->

   

      <section class="module parallax parallax-5">
        <div class="container">
            <div class="row">
              <div class="content col-md-12 col-sm-6 col-xs-12 text-center">
                <h1>More Info</h1>
              </div>
            </div>
        </div>
     </section>
<!-- ******CONTACT****** --> 

<section id="register" class="register section">
    <div class="container-center">
        <p> Visit our <%= link_to "FAQ", pages_faq_path %> page if you have more questions</p>
    </div><!--//container-->
</section><!--//contact-->

      <section class="module parallax parallax-6">
        <div class="container">
            <div class="row">
              <div class="content col-md-12 col-sm-6 col-xs-12 text-center">
              <h1>Pricing</h1>
              </div>
            </div>
        </div>
     </section>

    <section id="pricing" class="pricing section has-pattern">
        <div class="container">
             <div class="price-cols row">
                <h2 class="title text-center">Choose your plan today</h2>
                <div class="items-wrapper col-md-10 col-sm-12 col-xs-12 col-md-offset-1 col-sm-offset-0 col-xs-offset-0">
                    <div class="item price-1 col-md-6 col-sm-4 col-xs-12 text-center">
                        <div class="item-inner">
                            <div class="heading">
                            <h3 class="title">Monthly</h3>
                                <p class="price-figure"><span class="price-figure-inner"><span class="currency">$</span><span class="number">20</span><br /><span class="unit"> per month</span></span></p>
                            </div>
                            <div class="content">
                                <ul class="list-unstyled feature-list">
                                    <li><i class="fa fa-check"></i>Billed Monthly</li>
                             
                                </ul>
                                <%= link_to "Subscribe", new_user_registration_path(:plan => 'monthly'), class: "btn btn-default btn-lg" %>
   
                            </div><!--//content-->
                        </div><!--//item-inner-->
                    </div><!--//item--> 
                    <div class="item price-1 col-md-6 col-sm-4 col-xs-12 text-center">
                        <div class="item-inner">
                            <div class="heading">
                            <h3 class="title">Yearly</h3>
                                <p class="price-figure"><span class="price-figure-inner"><span class="currency">$</span><span class="number">16</span><br /><span class="unit"> per month</span></span></p>
                            </div>
                            <div class="content">
                                <ul class="list-unstyled feature-list">
                                    <li><i class="fa fa-check"></i>Billed Yearly- 20% off</li>
                             
                                </ul>
                                <%= link_to "Subscribe", new_user_registration_path(:plan => 'yearly'), class: "btn btn-default btn-lg" %>
   
                            </div><!--//content-->
                        </div><!--//item-inner-->
                    </div><!--//item-->
               </div><!--//items-wrapper-->                   
            </div><!--//row-->
        </div><!--//container-->
    </section><!--//pricing-->

      <section class="module parallax parallax-7">
        <div class="container">
            <div class="row">
              <div class="content col-md-12 col-sm-6 col-xs-12 text-center">
              
              </div>
            </div>
        </div>
     </section>


