<nav class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
    <ul class="nav navbar-nav">
      
                        <li class="nav-item"><a class="scrollto" href="#mission">Mission</a></li>
                        <li class="nav-item"><a class="scrollto" href="#services">Services</a></li>
                        <li class="nav-item"><a class="scrollto" href="#story">Team</a></li>
                        <li class="nav-item"><a class="scrollto" href="#pricing">Pricing</a></li>

    </ul>
  </div><!-- /.navbar-collapse -->
</nav>



    <section id="promo" class="promo section">
        <div class="container">
            <div class="row">
                <div class="overview col-md-8 col-sm-12 col-xs-12">
                    <h2 class="title">Delta helps you promote your mobile app</h2>
                   
                    <div class="download-area">
                        <ul class="btn-group list-inline">
                            <li><%= link_to "Log in", new_user_session_path, class: "btn btn-default btn-lg" %></li>
                            <li><%= link_to "Sign up", new_user_registration_path, class: "btn btn-default btn-lg" %></li>
                        </ul>
                 
                </div><!--//overview-->
        </div><!--//row-->
        </div><!--//container-->
    </section><!--//promo-->




<section id="mission" class="mission section">
    <div class="container-center">
      <div class="row">
        <div class="content col-md-12 col-sm-6 col-xs-12 text-center">
          <h1> Our Mission </h1>
          <p>We aim to develop youth lacrosse players both on and off the field.
            We will provide you with the resources. All you have
            to do is ask yourself- Do you want to get better in the classroom, on the field, and leave a lasting impact on your 
            community? </p>
        </div>
    </div>
 </div>
</section>

<section id="services" class="services section">
  <div class="container-center">
    <div class="row">
      <h2>Our Services</h2>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="item">
          <div class="content">
            <h3 class="title">Video Lessons</h3>
            <p>Monthly video lessons 
                Tips and tricks from the pros 
                Drills to improve your game 
                Explanation of when and what to do on the field</p>  
          </div><!--//content-->               
        </div><!--//item-->
    </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="item">
          <div class="content">
            <h3 class="title">Recruiting Advice
            <p>Guidance on how to approach schools 
                Knowledge on what coaches are looking for </br>
                Connections to current and past players</p>   
          </div><!--//content-->               
        </div><!--//item-->
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="item">
          <div class="content">
            <h3 class="title">Academic Support</h3>
            <p>Online resources to help you achieve better grades in the classroom and on standardized tests </p>   
          </div><!--//content-->               
        </div><!--//item-->
    </div>
    </div><!--//row-->
           
    <div class="row">

      <div class="col-md-6 col-sm-6 col-xs-12 text-center">
        <div class="item">
        <div class="content">
            <h3 class="title">Private Lessons</h3>
            <p>Individual &amp; Group lessons with instructors </br>
            Film review of games &amp; tournaments </p>  
        </div><!--//content-->               
      </div><!--//item-->
  </div>
    <div class="col-md-6 col-sm-6 col-xs-12 text-center">
        <div class="item">
        <div class="content">
          <h3 class="title">Volunteer Opportunities</h3>
          <p>Organized opportunities to volunteer with  local charities to promote personal growth and self esteem</br>
           </p>   
        </div><!--//content-->               
      </div><!--//item-->
  </div>
    </div><!--//row-->
  </div><!--//container-->
</section><!--//features-->

    <section id="story" class="story section">
        <div class="container-center">
            <h2>Our Team</h2>
            <div class="row">
                <div class="overview col-md-6 col-sm-12 col-xs-12">
                    <h2 class="title">Ryan Young</h2>
                    <ul class="summary">
                        <li>Maryland 2011 </li>
                        <li>2011-2014 MLL Player</li>
                        <li>2013 MLL All Star</li>
                        <li>3X Division 1 All-American</li>
                        <li>2X All-ACC selection. </li>
                        <li>Member of the Gold Medal 2008 U.S. Under-19 National Team</li>
                        <li>2007 US Lacrosse &amp; Under Armour All-American</li>
                        <li>From Manhasset, Long Island </li>
                    </ul>
 
                </div><!--//overview-->
                <div class="overview col-md-6 col-sm-12 col-xs-12">
                    <h2 class="title">Dean Gibbons</h2>
                    <ul class="summary">
                        <li>Harvard 2011</li>
                        <li>2014 MLL Player</li>
                        <li>2X Division 1 All-American</li>
                        <li>Member of the Gold Medal 2008 U.S. Under-19 National Team</li>
                        <li>2007 US Lacrosse &amp; Under Armour All-American</li>
                        <li>2007 Nassau County Player of the Year</li>
                        <li>Long Island scoring record for a season with 101 goals</li>
                        <li>From Garden City, Long Island </li>
                    </ul>
                </div><!--//overview-->
            </div><!--//row-->
        </div><!--//container-->
    </section><!--//promo-->

   


<!-- ******CONTACT****** --> 

<section id="register" class="register section">
    <div class="container-center">
        <p> Visit our <%= link_to "FAQ", pages_faq_path %> page if you have more questions</p>
    </div><!--//container-->
</section><!--//contact-->

    <section id="pricing" class="pricing section has-pattern">
        <div class="container">
             <div class="price-cols row">
                <h2 class="title text-center">Choose your plan today</h2>
                <div class="items-wrapper col-md-10 col-sm-12 col-xs-12 col-md-offset-1 col-sm-offset-0 col-xs-offset-0">
                    <div class="item price-1 col-md-4 col-sm-4 col-xs-12 text-center">
                        <div class="item-inner">
                            <div class="heading">
                            <h3 class="title">Monthly</h3>
                                <p class="price-figure"><span class="price-figure-inner"><span class="currency">$</span><span class="number">20</span><br /><span class="unit"> per month</span></span></p>
                            </div>
                            <div class="content">
                                <ul class="list-unstyled feature-list">
                                    <li><i class="fa fa-check"></i>Billed Monthly</li>
                             
                                </ul>
                                <%= link_to "Sign up", new_user_registration_path, class: "btn btn-default btn-lg" %>
   
                            </div><!--//content-->
                        </div><!--//item-inner-->
                    </div><!--//item--> 
                    
                    <div class="item price-2 col-md-4 col-sm-4 col-xs-12 text-center best-buy">
                        <div class="item-inner">
                            <div class="heading">
                            <h3 class="title">Yearly</h3>
                                <p class="price-figure"><span class="price-figure-inner"><span class="currency">$</span><span class="number">16</span><br /><span class="unit">per month</span></span></p>
                            </div>
                            <div class="content">
                                <ul class="list-unstyled feature-list">
                                    <li><i class="fa fa-check"></i>Billed Yearly</li>
                                    <li><i class="fa fa-check"></i>20% Off!</li>
                                   
                                    
                                </ul>
                               <%= link_to "Sign up", new_user_registration_path, class: "btn btn-default btn-lg" %>
                            </div><!--//content-->
                            <div class="ribbon">
                                <div class="text">Popular</div>
                            </div><!--//ribbon-->
                        </div><!--//item-inner-->
                    </div><!--//item-->  
                    
                    <div class="item price-3 col-md-4 col-sm-4 col-xs-12 text-center">
                        <div class="item-inner">
                            <div class="heading">
                                <h3 class="title">Semiannual</h3>
                                <p class="price-figure"><span class="price-figure-inner"><span class="currency">$</span><span class="number">18</span><br /><span class="unit">per month</span></span></p>
                            </div>
                            <div class="content">
                                <ul class="list-unstyled feature-list">
                                    <li><i class="fa fa-check"></i>Billed Semiannually</li>
                                    <li><i class="fa fa-check"></i>10% Off!</li>
                                                                    
                                </ul>
                                <%= link_to "Sign up", new_user_registration_path, class: "btn btn-default btn-lg" %>
                                
                            </div><!--//content-->
                        </div><!--//item-inner-->
                    </div><!--//item-->  
                </div><!--//items-wrapper-->                   
            </div><!--//row-->
        </div><!--//container-->
    </section><!--//pricing-->

