<div class="container">
  <h2>Pick Your Plan</h2>
  <%= form_for @subscription do |f| %>
    <div class="payment-errors"></div>
    <%= f.hidden_field :plan_id %>
    <%= f.hidden_field :email, :value => @useremail %>
    <%= f.hidden_field :name, :value => @username %>
    <%= f.hidden_field :user_id, :value => @userid %>
    <%= text_field_tag :number, nil, name: nil, :placeholder => "Card Number", :data => {:stripe => 'number' } %>
    <%= text_field_tag :cvc, nil, name: nil, :placeholder => "CVC", :data => {:stripe => 'cvc' } %>
    <%= select_month nil, {add_month_numbers: true}, {name: nil, :data => {:stripe => 'exp-month' }} %>
    <%= select_year nil, {start_year: Date.today.year, end_year: Date.today.year+10}, {name: nil, :data => {:stripe => 'exp-year' }} %>
    <%= f.button :submit %>
  <% end %>
</div>
