<%= render 'pages/home' unless user_signed_in? %>

<div class="container center">

  <div id="lessons">
    <% @lessons.each do |lesson| %>
      <div class="box panel panel-default">
        <div class="panel-body"> 
          <p><strong>Title: </strong><%= lesson.title %></p>
          <p><strong>Instructor:</strong><%= lesson.instructor %></p>
          <p><strong>Description:</strong><%= lesson.description %></p>
          <%= link_to "Watch Lesson", lesson_path(lesson), class: "btn btn-default btn-lg" %>  
        </div>
      <% end %>
    </div>
  </div>

</div>