<%= render 'pages/home' unless user_signed_in? %>

<div class="max-width has-padding center">

  <div id="lessons">
    <% @lessons.each do |lesson| %>
      <div class="box panel panel-default">
        
        <div class="panel-body"> 
          <h1><%= lesson.title %></h1>
          <h3>Instructor <%= lesson.instructor %></h3>
          
          
          <%= link_to "Watch Lesson", lesson_path(lesson), class: "btn btn-default btn-lg" %> 


          
        
        </div>
      </div>
    <% end %>
      
  </div>

</div>


      <% if current_user.try(:admin?) %>
        <%= link_to 'New Lesson', new_lesson_path %>
      <% end %>
