<%= render 'pages/home' unless user_signed_in? %>



<section class="category">
    <div class="container">
    <div class="row">
      <div class=".col-xs-12 .col-sm-6 .col-md-4">

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Browse Lessons <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <% Category.all.each do |category| %>
                <li><%= link_to category.name, lessons_path(category: category.name) %></li>
            <% end %>
          </ul>
        </li>
    </div>
  </div>
</div>
</section>



<div class="max-wide has-padding center">
  <div class="lessons">
    <% @lessons.each do |lesson| %>
      <div class="box panel panel-default">
        <div class="panel-body"> 
          <h1><%= lesson.title %></h1>
          <h4><strong>Instructor: </strong>  <%= lesson.instructor %></h4>
         
          <h5><strong>Notes:</strong>  <%= lesson.description %></h5>
          <h6><strong>Music: </strong><%= lesson.music %> </h6>
          
             <a href="//fast.wistia.net/embed/iframe/<%= lesson.url %>?popover=true" class="wistia-popover[height=422,playerColor=4ee500,width=750]">WATCH VIDEO</a>
            <script charset="ISO-8859-1" src="//fast.wistia.com/assets/external/popover-v1.js"></script> 

          <div class="center">
            <% if current_user.try(:admin?) %>
                    <%= link_to 'Edit', edit_lesson_path(lesson) %>
                    <%= link_to 'Destroy', lesson, method: :delete, data: { confirm: 'Are you sure?' } %>
                    <%= link_to 'New Lesson', new_lesson_path %>
                    <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>


<div class="center">
   <%= will_paginate @lessons, renderer: BootstrapPagination::Rails %>
</div>