<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @lesson.title %>
</p>

<p>
  <strong>Instructor:</strong>
  <%= @lesson.instructor %>
</p>
<p>
  <strong>Description:</strong>
  <%= @lesson.description %>
</p>




<%= link_to 'Back', lessons_path %>
