<p> If the video doesn't display right away, just refresh the page </p>
<div class="center">
        <!-- <div class="embed-container"> -->
          <div id="<%= "wistia_#{@lesson.url}" %>" class="wistia_embed">&nbsp;</div>
          <script charset="ISO-8859-1" src="//fast.wistia.com/assets/external/E-v1.js"></script>
          <script type="text/javascript">
            wistiaEmbed = Wistia.embed("<%= @lesson.url %>", {
              videoFoam: true,
              videoQuality: "hd-only",
              playerPreference: "html5",
              trackEmail: "<%= current_user.email %>"
            });
          </script>
        <!-- </div> -->
 </div>

<h1><%= @lesson.title %></h1>
<h2><%= @lesson.instructor %></h2>
<h4><%= @lesson.description %></h4>
<br>
<br>

<%= link_to "Back to Video Library", lessons_path, class: "btn btn-default btn-lg" %> 
     