  <section class="registration">
    <div class="container">
      <div class="col-md-12">

<div class='panel panel-default'>

  <div class='panel-heading'>
    <h2>Telos Lax <%= @plan.capitalize %> Subscription</h2>
  </div>
  <head>
  <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
  <!-- jQuery is used only for this example; it isn't required to use Stripe -->
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

  <!-- New section -->
  <script type="text/javascript">
    <!-- Fill in your publishable key -->
    Stripe.setPublishableKey('YOUR_PUBLISHABLE_KEY');

   var stripeResponseHandler = function(status, response) {
     var $form = $('#payment-form');

     if (response.error) {
       // Show the errors on the form
       $form.find('.payment-errors').text(response.error.message);
       $form.find('button').prop('disabled', false);
     } else {
       // token contains id, last4, and card type
       var token = response.id;
       // Insert the token into the form so it gets submitted to the server
       $form.append($('<input type="hidden" name="stripeToken" />').val(token));
       // and re-submit
       $form.get(0).submit();
     }
   };

   jQuery(function($) {
     $('#payment-form').submit(function(e) {
       var $form = $(this);

       // Disable the submit button to prevent repeated clicks
       $form.find('button').prop('disabled', true);

       Stripe.card.createToken($form, stripeResponseHandler);

       // Prevent the form from submitting with the default action
       return false;
     });
   });
 </script>
</head>


  <div class='panel-body'>
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <%= f.hidden_field :stripe_card_token %>
        <%= f.hidden_field :plan, value: @plan %>

      <div id='stripe_error' class="alert alert-info" style='display:none'>
      </div>

<div class="form-group">
     <div class="row">
        <div class="col-lg-5">      
        <%= f.label :name %>
        <%= f.text_field :name, :autofocus => true, class: 'form-control' %>
      </div>
  </div>
</div>
<div class="form-group">
     <div class="row">
        <div class="col-lg-5">      
        <%= f.label :school %>
        <%= f.text_field :school, :autofocus => true, class: 'form-control' %>
      </div>
  </div>
</div>
<div class="form-group">
     <div class="row">
        <div class="col-lg-5">      
        <%= f.label :position %>
        <%= f.text_field :position, :autofocus => true, class: 'form-control' %>
      </div>
  </div>
</div>
<div class="form-group">
     <div class="row">
        <div class="col-lg-5">      
        <%= f.label :email %>
        <%= f.text_field :email, :autofocus => true, class: 'form-control' %>
      </div>
  </div>
</div>
<div class="form-group">
     <div class="row">
        <div class="col-lg-5">      
        <%= f.label :password %> (Must be atleast 8 characters)
        <%= f.password_field :password, class: 'form-control' %>
      </div>
  </div>
</div>

<div id="stripe_form">
      <% if @user.stripe_card_token.present? %>
        Credit Card is on File
      <% else %>
<div class="form-group">
     <div class="row">
        <div class="col-lg-4"> 
          <%= label_tag :card_number, "Credit Card Number" %>
          <%= text_field_tag :card_number, nil, name: nil, class: 'form-control' %>
        </div>
      </div>
    </div>
<div class="form-group">
     <div class="row">
        <div class="col-lg-3"> 
          <%= label_tag :card_code, "Security Code on Card (CVV)" %>
        <%= text_field_tag :card_code, nil, name: nil, class: 'form-control' %>
          </div>
      </div>
    </div>
    <div class="form-group">
     <div class="row">
        <div class="col-lg-4"> 
        <%= label_tag :card_month, "Card Expiration" %>
        <%= select_month nil, {add_month_numbers: true}, {name: nil, id: "card_month"} %>
        <%= select_year nil, {start_year: Date.today.year, end_year: Date.today.year+15}, {name: nil, id: "card_year"} %>
        </div>
      </div>
    </div>
        
      <% end %>
</div>
      <div>
        <%= f.submit "Sign up", class: 'btn btn-primary' %>
      </div>

    <% end %>
    <h3><small>By signing up you agree to our <a href="#" data-toggle="modal" data-target="#terms-modal" class="btn-default">Terms of Use</a> and <a href="#" data-toggle="modal" data-target="#privacy-modal" class="btn-default">Privacy Policy</a></small></h3>

<div class="modal fade" id="terms-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Terms of Use</h4>
      </div>
      <div class="modal-body clearfix">
            <div id="modal-left" class="pull-left">
                <p><strong>Member Acceptance</strong></p>
                <p> <%= render 'pages/terms' %></p>
            </div>  
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="privacy-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Privacy Policy</h4>
      </div>
      <div class="modal-body clearfix">
            <div id="modal-left" class="pull-left">
                <p> <%= render 'pages/privacy' %></p>
            </div>
           
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
  </div>
  <div class='panel-footer'>
    <%= render "devise/shared/links" %>
  </div>
</div>
</div>
</div>
</section>

